<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUCCpXJjwBR5xeBDDXbnEcyefd5UQT680</string>
	<key>GCM_SENDER_ID</key>
	<string>768408825614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.classActivity13</string>
	<key>PROJECT_ID</key>
	<string>class-activity-13-b636a</string>
	<key>STORAGE_BUCKET</key>
	<string>class-activity-13-b636a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768408825614:ios:82b18b491ca42cbfb6715f</string>
</dict>
</plist>